.content{
	text-align: justify;
}

.vizdiv{
     width: 100%;
     min-height: 25rem;
     max-height: 33rem;
     margin-top: 2em;
     margin-bottom: 2em;
}


@media (max-width: 30em) {
  .vizdiv {
    max-width: 23rem;
  }
 #trademap, #ricebenin{
	height: 24rem;
 }
}
@media (max-width: 38em) {
  .vizdiv {
    max-width: 28rem;
  }
  #trademap, #ricebenin{
	height: 26rem;
 }

}


.d3plus_title text tspan{
	max-width: 100px;
	font-weight: "bold";
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}


#geodata{
	min-height: 27rem;
}


#trademap, #ricebenin{
	height: 30rem;
}

.img-center{
	max-height: 20rem;
	margin: auto;
}


.midtitle{
	font-size: 1.08rem;
}
